<!--
/**
 * 
 * Copyright © 2017 Erick Vansim Previato <erick.previato@gmail.com>
 * 
 * Este arquivo é parte do programa "Reserva de Quadra"
 * 
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 * 
 */
-->
<script>
    $(document).ready(function () {
        $('.btn-cliente-novo').on('click', function(){
            $('.novo-cliente').removeClass('hide');
            $('#cliente-nome').focus();
        });
        $('.btn-cliente-cancelar').on('click', function(){
            $('.novo-cliente').addClass('hide');
        });
        $('.btn-cliente-salvar').on('click', function(){
            $.post("{PHP_SELF}", {salvarCliente: true, nome: $('#cliente-nome').val(), telefone: $('#cliente-telefone').val()}).done(function(data) {
                $("#cliente_id").append(data);
                $('.novo-cliente').addClass('hide');
            });
        });
        $('#data').mask('99/99/9999');
        $('#data').datepicker({
            autoclose: true,
            format: 'dd/mm/yyyy',                
            language: 'pt-BR'
        });
    });
</script>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" id="addModalLabel">Nova reserva de quadra</h4>
</div>
<div class="modal-body">
    <input type="hidden" name="id" value="{ID}" />
    <div class="form-group">
        <label>Cliente</label>
        <div class="input-group">
            {Clientes}
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary btn-flat btn-cliente-novo">Novo</button>
            </span>
        </div>
        <div class="novo-cliente hide">
            <div class="form-group">
                <label>Nome do cliente</label>
                <input type="text" class="form-control" id="cliente-nome" name="cliente-nome" />
            </div>
            <div class="form-group">
                <label>Telefone de contato</label>
                <input type="text" class="form-control" id="cliente-telefone" name="cliente-telefone" />
            </div>
            <button type="button" class="btn btn-default btn-cliente-cancelar">Cancelar</button>
            <button type="button" class="btn btn-primary btn-flat pull-right btn-cliente-salvar">Salvar cliente</button>
        </div>
    </div>
    <div class="form-group">
        <label>Quadra</label>
        {Quadras}
    </div>
    <div class="form-group">
        <label for="data">Data</label>
        <input type="text" data-inputmask="'alias': 'dd/mm/yyyy'" class="form-control" id="data" name="data" value="{Data}" placeholder="Digite a data da reserva" data-mask />
    </div>
    <div class="form-group">
        <label>Horário</label>
        {Horarios}
    </div>
    <div class="checkbox">
        <label>
            <input name="mensal"{Mensal} type="checkbox"> Mensalista
        </label>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    <input type="submit" class="btn btn-primary" name="salvar" id="salvar" value="Salvar" />
</div>