<!--
/**
 * 
 * Copyright © 2017 Erick Vansim Previato <erick.previato@gmail.com>
 * 
 * Este arquivo é parte do programa "Reserva de Quadra"
 * 
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 * 
 */
-->
<script>
    $(document).ready(function () {
        $('.btn-tipo-novo').on('click', function(){
            $('.novo-tipo').removeClass('hide');
            $('#tipo-descricao').focus();
        });
        $('.btn-tipo-cancelar').on('click', function(){
            $('.novo-tipo').addClass('hide');
        });
        $('.btn-tipo-salvar').on('click', function(){
            $.post("{PHP_SELF}", {salvarTipo: true, descricao: $('#tipo-descricao').val()}).done(function(data) {
                $("#tipo_id").append(data);
                $('.novo-tipo').addClass('hide');
            });
        });
    });
</script>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" id="addModalLabel">Cadastro de horário</h4>
</div>
<div class="modal-body">
    <input type="hidden" name="id" value="{ID}" />
    <div class="form-group">
        <label>Tipo</label>
        <div class="input-group">
            {Tipo}
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary btn-flat btn-tipo-novo">Novo</button>
            </span>
        </div>
        <div class="novo-tipo hide">
            <div class="form-group">
                <input type="text" class="form-control" id="tipo-descricao" name="tipo-descricao" />
            </div>
            <button type="button" class="btn btn-default btn-tipo-cancelar">Cancelar</button>
            <button type="button" class="btn btn-primary btn-flat pull-right btn-tipo-salvar">Salvar tipo</button>
        </div>
    </div>
    <div class="form-group">
        <label>Horário</label>
        <div class="input-group">
            <input type="number" class="form-control" id="hora" name="hora" value="{Hora}" required="required" />
            <span class="input-group-addon">H</span>
            <input type="number" class="form-control" id="minuto" name="minuto" value="{Minuto}" required="required" />
            <span class="input-group-addon">min</span>
        </div>
    </div>
    <div class="form-group">
        <label for="duracao">Duração</label>
        <div class="input-group">
            <input type="number" class="form-control" id="duracao" name="duracao" value="{Duracao}" required="required" />
            <span class="input-group-addon">min</span>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    <input type="submit" class="btn btn-primary" name="salvar" id="salvar" value="Salvar" />
</div>