<!--
/**
 * 
 * Copyright © 2017 Erick Vansim Previato <erick.previato@gmail.com>
 * 
 * Este arquivo é parte do programa "Reserva de Quadra"
 * 
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 * 
 */
-->
<script>
    $(document).ready(function () {
        $(".btn-new").on('click', function(){
            $("#addModal .modal-body").html('<center><img src="{IMAGE_URL}/carregando.gif" /></center>');
            $("#addModal .modal-title").html("Cadastro de horário");
            $("#addModal").modal("show");
            $.post("{PHP_SELF}", {showForm: $(this).val()}).done(function(data) {
                $("#addModal").modal("hide");
                $("#addModal .modal-content").html(data);
                $("#addModal").modal("show");
            });
        });
        $(".btn-del").on('click', function(){
            $("#addModal .modal-body").html('<center><img src="{IMAGE_URL}/carregando.gif" /></center>');
            $("#addModal .modal-title").html("Remover horário");
            $("#addModal").modal("show");
            $.post("{PHP_SELF}", {showFormDel: $(this).val()}).done(function(data) {
                $("#addModal").modal("hide");
                $("#addModal .modal-content").html(data);
                $("#addModal").modal("show");
            });
        });
        $(".btn-xs").tooltip();
    });
</script>
<section class="content-header">
    <h1>
        Controle dos horários
        <small>Sistema de reservas</small>
    </h1>
    <ol class="breadcrumb">
        <i class="fa fa-dashboard"></i> &nbsp; 
        <li><a href="{HOME}">Home</a></li>
        <li class="active">Controle dos horários</li>
    </ol>
</section>
<button class="btn btn-primary pull-right btn-new" value="0">
    <i class="fa fa-plus"></i> Cadastrar novo horário
</button>
<br /><br />
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Tipo</th>
            <th class="text-center">Horário</th>
            <th class="text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        <!-- BEGIN table_row -->
        <tr>
            <td>{Tipo}</td>
            <td class="text-center">{Horario}</td>
            <td class="text-center">
                <button data-toggle="tooltip" data-original-title="Editar / Ver mais detalhes" class="btn btn-xs btn-new" value="{ID}"><i class="fa fa-pencil"></i></button>
                <button data-toggle="tooltip" data-original-title="Remover" class="btn btn-xs btn-danger btn-del" value="{ID}"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
        <!-- END table_row -->
        <!-- BEGIN table_none -->
        <tr>
            <td colspan="3">Nenhum horário cadastrado</td>
        </tr>
        <!-- END table_none -->
    </tbody>
</table>
